* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.FormLogin {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  border: 1px solid #eee;
  box-shadow: 5px 5px 5px #eee;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
}

.FormLogin > div input {
  width: 100%;
  padding: 10px;
}

.FormLogin > div p {
  color: rgb(53, 53, 53);
  font-weight: bold;
  text-transform: uppercase;
}

input,
textarea,
select {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 4px;
  margin: 0;
}

p {
  margin: 10px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0px;
}

button {
  background-color: rgb(10, 124, 90);
  border: none;
  border-radius: 4px;
  padding: 5px;
  color: white;
  font-weight: bold;
  margin: 15px auto;
  width: 100%;
  cursor: pointer;
}

.error {
  text-align: center;
  color: rgb(224, 66, 66);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}

.Button {
  background-color: rgb(12, 114, 106);
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 8px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 9px #706f6f;
  position: absolute;
  top: 10px;
  right: 10px;
}

.Menu {
  width: 95%;
  margin: auto;
  padding: 25px;
  box-shadow: 1px 1px 4px #dddcdc;
  background: #f8f8f8;
  border-radius: 4px;
  margin-top: 20px;
  position: relative;
}

.Menu .Previous {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 35px;
  height: 35px;
}

.Menu h2 {
  margin: 5px 10px 0;
}

.MensajeBienbenida {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-end;
}

.NuevaRevista {
  width: 100%;
  max-width: 800px;
  padding: 15px;

  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.NuevaRevista input,
textarea,
select {
  width: 100%;
  padding: 10px;
}

.NuevaRevista .articulo,
.NuevaRevista .revista {
  background-color: #f8f8f8;
  padding: 20px;
  margin: 10px 0px;
  border: 1px solid #eee;
}

.NuevaRevista .colx2 {
  display: flex;
  justify-content: space-between;
}

.NuevaRevista .colx2 div {
  width: 49%;
}

.listadoRevistas {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

a.BoxRevistas {
  width: 100%;
  max-width: 250px;
  display: flex;
  margin: 10px;
  background-color: #f7f7f7;
}

a.BoxRevistas > div,
.CardRevista {
  width: 100%;
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.BoxArt {
  width: 100%;
  margin: 5px;
  padding: 1px 7px;
}
.ContainerArt:hover {
  background-color: #eee;
}

.ContainerArt img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.ContainerArt img:hover {
  transform: scale(1.1);
}

.BoxArt > div {
  display: flex;
  color: rgb(46, 46, 46);
}

.BoxArt > div span {
  font-weight: bold;
  margin: 0px 5px;
  color: rgb(7, 163, 155);
  text-transform: capitalize;
  background: #eee;
  padding: 4px;
  border-radius: 4px;
}

.CardRevista:hover {
  background-color: #eee;
}

.Round {
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #eee;
}

a {
  text-decoration: none;
}

.listadoArticulos {
  width: 95%;
  margin: 20px auto;
}

.listadoArticulos .ContainerArt {
  display: flex;
  align-items: center;
  padding: 3px 7px;
  margin: 10px 0px;
}

.CreaRevista {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 5px;
}

.CreaRevista:hover{
  transform: scale(1.05);
}

.CreaRevista > img {
  width: 35px;
  height: 35px;
}

.CreaRevista > p{
  font-weight: bold;
  color: rgb(44, 44, 44);
}
