/* RESETEO DE ESTILOS GLOBALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ESTILOS PARA ELEMENTOS EN GENERAL */
input,
textarea,
select {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
  margin: 5px 0px;
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  text-align: center;
}

button {
  background-color: #057269;
  border: none;
  border-radius: 4px;
  padding: 10px 5px;
  color: white;
  font-weight: bold;
  margin: 15px auto;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #04645c;
  transform: scale(1.02);
  transition: 0.5s;
}

/* ESTILOS PUNTUALES */
body header .DataUser {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  background-color: #057269;
}

body header .DataUser p {
  font-weight: bold;
  font-size: 14px;
  color: white;
  margin: 0px;
}

body main {
  position: relative;
  border: 2px solid #eee;
  width: 95%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px #eee;
  background-color: #fcfcfc;
}

body header .MenuNavegacion {
  background-color: #eee;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body header .MenuNavegacion .icon {
  width: 35px;
  height: 35px;
  margin: 0px 5px;
}

body header .MenuNavegacion div {
  display: flex;
  align-items: center;
}

body header .MenuNavegacion .OptionMenu {
  display: flex;
  align-items: center;
  color: rgb(68, 68, 68);
  font-weight: bold;
  font-size: 14px;
  padding: 2px 4px;
}

body header .MenuNavegacion .OptionMenu:hover {
  background: #05726971;
  border-radius: 3px;
  transition: 0.3s;
}

body .FormLogin {
  width: 100%;
  max-width: 500px;
  padding: 25px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.137);
  color: white;
}

body .FormLogin input {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
}

body main .NuevaRevista .articulo,
body main .NuevaRevista .revista {
  background-color: #f8f8f8;
  padding: 20px;
  margin: 10px 0px;
  border: 1px solid #eee;
}

body main .NuevaRevista .colx2 {
  display: flex;
  justify-content: space-between;
}

body main .NuevaRevista .colx2 div {
  width: 49%;
}

body main .listadoRevistas {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

body main .listadoRevistas a.BoxRevistas {
  width: 100%;
  max-width: 210px;
  display: flex;
  margin: 5px;
  background-color: white;
  min-height: 130px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

body main .listadoRevistas a.BoxRevistas > div {
  width: 100%;
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body main .ContainerArt:hover {
  background-color: #eee;
}

body main .ContainerArt img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

body main .ContainerArt img:hover {
  transform: scale(1.1);
}

body main .ContainerArt .BoxArt {
  width: 100%;
  margin: 5px;
  padding: 1px 7px;
  padding: 5px;
}

body main .ContainerArt .BoxArt > div {
  display: flex;
  color: rgb(46, 46, 46);
}

body main .ContainerArt .BoxArt > div span {
  font-weight: bold;
  margin: 0px 5px;
  color: rgb(7, 163, 155);
  text-transform: capitalize;
  background: #eee;
  padding: 4px;
  border-radius: 4px;
}

body main .BodyArticle{
  padding: 10px;
}

body main .BodyArticle h2{
  text-align: left;
}

body main .BodyArticle .ContentArticle{
  margin: 15px 0px;
  line-height: 150%;
  font-size: 19px;
}

body main .BodyArticle .InfoArticle{
  display: flex;
}

body main .BodyArticle .InfoArticle p{
  margin-right: 10px;
}

body main .BodyArticle .InfoArticle span{
  color: #057269;
  font-weight: bold;
}

.listadoArticulos .ContainerArt {
  display: flex;
  align-items: center;
  padding: 3px 7px;
  margin: 10px 0px;
}

.CreaRevista {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 5px;
}

.CreaRevista:hover {
  transform: scale(1.05);
}

.CreaRevista > img {
  width: 35px;
  height: 35px;
}

.CreaRevista > p {
  font-weight: bold;
  color: rgb(44, 44, 44);
}

/* LISTADO DE CLASES GENERALES EN EL PROYECTO  */

.BigTitle {
  text-align: center;
  background-color: #057269;
  color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #a5a5a5;
  user-select: none;
}

.error {
  text-align: center;
  color: rgb(224, 66, 66);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}

body.BackBody {
  background-color: #021c29;
}

.Round {
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #eee;
}
